<app-department-selector (departmentSelected)="onDepartmentSelected($event)" [department]="department"></app-department-selector>

<div>
  <mat-form-field>
    <input matInput placeholder="Add new item ..." type="text" #itemName>
  </mat-form-field>
  <button mat-mini-fab color="primary" type="button" (click)="add(itemName.value)">
    <i class="material-icons">add</i>
  </button>
</div>

<div>
  <button type="button" (click)="clear()">Clear List</button>
  <button type="button" (click)="clearDepartment()">Clear Department</button>
</div>

<mat-list>
  <mat-list-item *ngFor="let item of theList">
    <app-item [item]="item" [department]="department"></app-item>
  </mat-list-item>
</mat-list>